@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
  }
  
  .logoName {
    font-size: 20px;
    font-weight: bold;
  }
  
  .settings-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 30px;
    width: 100%;
  }
  
  .options-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px; /* Adjust as needed */
  }
  
  .option-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .option-row input[type="text"] {
    flex: 1;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 2rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px; width: 16px;
    left: 2px; bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .lists-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
  }
  
  .list-box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .list-box h4 {
    margin: 0 0 5px 0;
  }
  
  .list-box ul {
    list-style: none;
    padding-left: 0;
  }
  
  .list-box li {
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
  }
  
  .save-button-container {
    display: flex;
    justify-content: center;
  }
  
  button#save-btn {
    margin-top: 3rem;
    padding: 8px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  